<h3>Getting Started</h3>
<ul>
  <li class="{% if page.title == "Welcome" %}current{% endif %}">
    <a href="{{ site.url }}/">Welcome</a>
  </li>
  <li class="{% if page.title == "Quick-start guide" %}current{% endif %}">
    <a href="{{ site.url }}/quickstart">Quick-start guide</a>
  </li>
</ul>

<h3>Maps and services</h3>
<ul>
  <li class="{% if page.title == "Topic from Mapfile" %}current{% endif %}">
    <a href="{{ site.url }}/mapfile-import">Topic from Mapfile</a>
  </li>
  <li class="{% if page.title == "Publishing WFS services" %}current{% endif %}">
    <a href="{{ site.url }}/wfs">Publishing WFS services</a>
  </li>
</ul>

<h3>Customization</h3>
<ul>
  <li class="{% if page.title == "Legends and query results" %}current{% endif %}">
    <a href="{{ site.url }}/legends-queries">Legends and query results</a>
  </li>
  <li class="{% if page.title == "Access control" %}current{% endif %}">
    <a href="{{ site.url }}/access-control">Access control</a>
  </li>
</ul>
